@model List<Users>;
@{
  Layout = "_Layout";
}

@{
  ViewData["Title"] = "User List";
}

<br>
<div style="font-family: Arial, sans-serif;" class="h2 text-muted">
  List of Users
</div>
<table class="table table-striped table-hover table-bordered table-secondary">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Full Name</th>
      <th scope="col">Username</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      @if (User.Identity.IsAuthenticated)
      {
        <th scope="col">Action</th>
      }

    </tr>
  </thead>
  @foreach (var user in Model)
  {
    <tbody>
      <tr>

        <td>@user.firstname @user.lastname</td>
        <td>@user.username</td>
        <td>@user.mobile</td>
        <td>@user.email</td>
        <td>@user.role</td>
        @if (User.Identity.IsAuthenticated)
        {
          <td>
            <a class="btn btn-danger" href="/inventory/userdelete?username=@user.username">Delete</a>
          </td>
        }
      </tr>
    </tbody>
  }
</table>